body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

h1 {
  background-image: url(IMG/special-effects.jpg);
  background-size: cover;
  background-position: top center;
  color: white;
  display: flex;
  justify-content: center;
}

/* main {
  padding: 1rem;
} */

div.Poke-Fetcher {
  background-image: url(IMG/special-effects.jpg);
  background-size: cover;
  background-position: center center;
  padding: 20px;
  border-radius: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  text-align: center;
  padding: 200px 0;
  position: relative;
  bottom: 0;
  width: 100%;
}
